{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <ul class='navigation'>
          {% if user.is_authenticated %}
          <li class='nav-item'><a href="{% url 'receipt_list' %}">Receipts</a></li>
          <li class='nav-item'><a href="{% url 'receipt_create' %}">Create receipt</a></li>
          <li class='nav-item'><a href="{% url 'accounts_list' %}">Accounts</a></li>
          <li class='nav-item'><a href="{% url 'accounts_create' %}">Create account</a></li>
          <li class='nav-item'><a href="{% url 'expense_categories_list' %}">Categories</a></li>
          <li class='nav-item'><a href="{% url 'expense_categories_create' %}">Create category</a></li>
          <li class='nav-item'><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li class='nav-item'><a href="{% url 'login' %}">Login</a></li>
          <li class='nav-item'><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>
