{% extends 'base.html' %}

{% block content %}
<main>
  <h1>Accounts</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Account number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        {% for account in accounts_list %}
        <td>{{ account.name }}</td>
        <td>{{ account.account_num }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}