{% extends 'base.html' %}

{% block content %}
<main>
  <h1>Categories</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for category in categories_list %}
        <td>{{ category.name }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
</main>

{% endblock content %}