{% extends 'base.html' %}

{% block content %}
<main class="narrow-form">
  <h1>Sign Up</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <div class="">
      <button class="">Login</button>
    </div>
  </form>
</main>
{% endblock content %}