div {
  display: block;
}

h1, h2 {
  text-align: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  max-width: 800px;
  min-width: 400px;
  margin: auto;
}

th, td {
  border: 1px solid lightblue;
  padding: 0.5em;
}

.narrow-form {
  max-width: 400px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-image: initial;
  margin: auto;
  padding: 2em;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.nav-item {
  margin: 1em;
}

